#_snail {
    width: 1320px;
    margin: 0 auto;
}
#main { 
    width: inherit;
}
#main > div {
    width: inherit;
    display: flex;
}
#result_race {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    letter-spacing: 15px;
    font-weight: bold; 
}
#result_race > p {
    background: linear-gradient(to right, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.snail_track {
    width: 1000px;
    position: relative;
    height: 120px;
    line-height: 120px;
    background-color: #ed795c;
    border: 5px solid #cecece;
    border-right: 0;
    border-left: 0;
}
.snail_track:nth-child(2) {
    border-top: 0;
}
.snail_track:nth-child(4) {
    border-bottom: 0;
}
.snail_track > img {
    width: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 930px;
    transition: 1000ms;
    z-index: 1;
}
.snail_track_SF {
    position: absolute;
    width: 70px;
    height: 120px;
    line-height: 70px;
}
.snail_track_start {
    left: 0;
    top: 0;
    text-align: center;
    background-color: #c04b2e;
}
.snail_track_finish {
    right: 0;
    top: 0;
    text-align: center;
    background-color: #c04b2e;
}
#info_game {
    width: 100%; 
}
#select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.select_snail {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}
.select_snail > button {
    padding: 15px 25px;
    user-select: none;
    outline: none;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}
.select_snail_selected:nth-child(1) > button {
    background-color: #d41010;
    color: #ffffff;
}
.select_snail_selected:nth-child(2) > button {
    background-color: #08ce08;
    color: #ffffff;
}
.select_snail_selected:nth-child(3) > button {
    background-color: #0e0ed4;
    color: #ffffff;
}
#betting {
    margin-top: 20px;
}
#user_betting > input {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid rgb(177, 115, 115);
    outline: none;
}
#view_cash {
    margin-top: 20px;
    text-align: center;
}
#view_betting {
    margin-top: 20px;
}
#view_betting > p {
    font-weight: bold;
    border-bottom: 1px solid #777777;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#view_data {
    overflow-y: scroll;
    min-height: 179px;
}
#view_data > li {
    margin-top: 20px;
}
#view_ranking > p {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-bottom: 1px solid #777777;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#view_rank > li {
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
}
#view_rank > li:nth-child(2n) {
    background-color: #f4f4f4;
}
#view_rank > li > span:first-child {
    display: inline-block;
    width: 40px;
}
#view_rank > li > span:last-child {
    display: inline-block;
    width: 30px;
}
#view_betting p > span,
#view_data li > span {
    text-align: center;
    display: inline-block;
}
#view_betting p > span:first-child,
#view_data li > span:first-child {
    width: 90px;
}
#view_betting p > span:nth-child(2),
#view_data li > span:nth-child(2) {
    width: 90px;
}
#view_betting p > span:last-child,
#view_data li > span:last-child {
    width: 100px;
}